.search-bar {
}

.search-bar__input-container {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

@media (min-width: 768px) {
  .search-bar__input-container {
    max-width: 800px;
    margin: 20px auto 0;
  }
}

.search-bar__input {
  width: 100%;
  height: 60px;
  background-color: #f4f4f4;
  border: none;
  text-align: center;
  font-size: 21px;
}

.search-bar__input::placeholder {
  color: #b1b1b1;
}

.autocomplete-dropdown-container {
  text-align: left;
}

/* Targets the first child div that doesn't have the class 'suggestion-item' or 'suggestion-item--active' */
.autocomplete-dropdown-container
  > div:not(.suggestion-item, .suggestion-item--active) {
  display: none;
}

.suggestion-item,
.suggestion-item--active {
  padding: 10px;
}
